@{
2
    ViewBag.Title = "Home Page";
3
}
4

5
<div class="jumbotron">
6
    <h1>ASP.NET</h1>
7
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
8
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
9
</div>
10

11
<div class="row">
12
    <div class="col-md-4">
13
        <h2>Getting started</h2>
14
        <p>
15
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
16
            enables a clean separation of concerns and gives you full control over markup
17
            for enjoyable, agile development.
18
        </p>
19
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
20
    </div>
21
    <div class="col-md-4">
22
        <h2>Get more libraries</h2>
23
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
24
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
25
    </div>
26
    <div class="col-md-4">
27
        <h2>Web Hosting</h2>
28
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
29
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
30
    </div>
31
</div>
